@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

@import "~bootstrap/dist/css/bootstrap";
@import './parts/dashboard';
@import './parts/login';
@import './parts/highlight';
@import './parts/languages';
@import './parts/404';

html {
    font-size: 16px;
}

body {
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.hljs {
    padding: 1rem;
    overflow: hidden;
    border-radius: 12px;
}

.display {
    font-weight: 900;
}
