#languages {
    .articles {
        article {
            pre {
                margin: 0;
            }

            &:nth-child(even) {
                background-color: white;
                direction: rtl;
            }

            &:nth-child(odd) {
                background-color: transparent;
            }
        }
    }
}
